@model IEnumerable<StoreHouse.Models.Category>

@{
    var actionSave = "SaveCategory";
    var actionDelete = "DeleteCategory";
    var actionDetails = "CategoryDetails";


    var controller = "Category";
}


    <table class="table  table-bordered table-hover table-striped" id="categoryTable">

        <thead>

        <tr>
            <th>Name</th>
            <th>Description</th>

            <th colspan="3"></th>
            

        </tr>

        </thead>
        


        <tbody>

        @if (Model == null)
        {
            <tr ><td colspan="5">No hay Registros</td></tr>
        }

        else
        {
            foreach (var category in Model)
            {
                <tr>
                    <td>@category.Name</td>

                    <td> @category.Description</td>
                    <td>
                        <a class="btn btn-primary border border-primary" href="@Url.Action(actionSave, controller)/@category.CategoryID" onclick=' return openModal(this.href, "update Category")'> <i class="fas fa-edit"></i> </a>
                    </td>

                    <td>
                        <a class="btn  btn-danger" href="@Url.Action(actionDelete, controller)/@category.CategoryID" onclick=' return deleteCategory(this.href)'> <i class="fas fa-trash-alt"></i> </a>
                    </td>

                    <td>
                        <a class="btn  btn-info" href="@Url.Action(actionDetails, controller)/@category.CategoryID" onclick=' return openModal(this.href, "Category Details")'> <i class="fas fa-info-circle"></i> </a>
                    </td>


                </tr>
            }
        }
       

        </tbody>


    </table>

    




